* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #4580c4;
}


.scoreBlock {
    background-color: #528cde;
    width: 375px;
    height: 48px;
    margin: auto;
    border-radius: 30px;
    padding: 12px 36px;
    box-shadow: 0 4px 8px 0 rgba(88, 150, 238, 0.3);
    display: flex; /* элементы выстраиваются друг за другом без отступов */
    justify-content: space-between;
    font-family: 'Roboto Regular', sans-serif;
    /* стили для текстов внутренних дивов: catchBlockElement и missBlockElement  */
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #fff;

}

.scoreBlock .catchBlockElement {
    width: 102px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.scoreBlock .missBlockElement {
    width: 94px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.gridElement {
    width: 279px;
    height: 276px;
    margin: auto;
    border-spacing: 12px; /*  Отступ между ячейками, применяется для table, нельзя заменить на margin  */

}

.gridElement td {
    width: 85px;
    height: 84px;
    border: 2px solid #54bae0;
    border-radius: 5px;
    background: #4580c4;
    text-align: center;
    color: white;


}
